@{
    ViewData["Title"] = "Adopción de Mascotas";
}
<head>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<div class="text-center">
    <h1 class="display-4"> Echa un vistazo a nuestras mascotas</h1>
    <p>¡Encuentra a tu compañero perfecto!</p>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="/img/P1.png" alt="Perro 1" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/img/P2.png" alt="Perro 2" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/img/P3.png" alt="Perro 3" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="/img/G1.png" alt="Gato 1" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/img/G2.png" alt="Gato 2" class="img-fluid">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/img/G3.png" alt="Gato 3" class="img-fluid">
        </div>
    </div>
</div>