@{
    ViewData["Title"] = "Pagina Principal";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4 animated-text">Haz la diferencia</h1>
    <h1 class="display-4 animated-text">Adopta hoy, Salva una vida mañana</h1>

    <div class="animated-italic-text">
        <p>Adoptar es amor que transforma vidas</p>
    </div>

    

</div>

<!-- Grid de Imágenes con Información -->
<div class="image-grid">
    <div class="image-grid__item">
        <img src="/img/P1.png" alt="Imagen 1">
        <div class="image-grid__info">
            <h3>Coco</h3>
            <p> Pequeño y encantador, Coco es un chihuahua juguetón con una personalidad vibrante. Con su pelaje suave y ojos brillantes, este pequeño compañero irradia alegría y afecto.</p>
        </div>
    </div>
    <div class="image-grid__item">
        <img src="/img/P2.png" alt="Imagen 2">
        <div class="image-grid__info">
            <h3> Rocky</h3>
            <p>A pesar de su robusto linaje, Rocky es un adorable cachorro de pitbull, pequeño pero valiente. Con su pelaje brillante y ojos leales, este pequeño guerrero tiene un corazón gigante y está lleno de energía y cariño.</p>
        </div>
    </div>
    <div class="image-grid__item">
        <img src="/img/P3.png" alt="Imagen 3">
        <div class="image-grid__info">
            <h3> Luna </h3>
            <p>Su personalidad amigable y leal lo convierte en un compañero perfecto para todas las aventuras. Inteligente y cariñoso, Luna siempre está listo para ofrecer amor incondicional y diversión sin límites.</p>
        </div>
    </div>

    <!-- GATOS -->
     <div class="image-grid__item">
        <img src="/img/G1.png" alt="Imagen 3">
        <div class="image-grid__info">
            <h3>Simba</h3>
            <p>Con su personalidad llena de gracia y encanto, Simba ilumina cualquier hogar con su calidez y amor incondicional.</p>
        </div>
    </div>

     <div class="image-grid__item">
        <img src="/img/G2.png" alt="Imagen 3">
        <div class="image-grid__info">
            <h3>Nala</h3>
            <p>Con su personalidad juguetona y afectuosa, es una compañía adorable y llena de energía para cualquier hogar.</p>
        </div>
    </div>

    <div class="image-grid__item">
        <img src="/img/G3.png" alt="Imagen 3">
        <div class="image-grid__info">
            <h3>Silvestre</h3>
            <p>Sus manchas le dan un aspecto único y encantador. Con una personalidad carismática y traviesa, este felino es un maestro en encontrar aventuras en cada rincón. </p>
        </div>
    </div>

</div>