html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-fluid {
    max-width: 30%;
    height: auto;
    display: block;
    margin: auto; /* Centrar la imagen */
    max-height: 300px; /* Ajusta la altura máxima según sea necesario */
}