/* Definir fondo degradado más suave para toda la página */
html {
    font-size: 14px;
    background: linear-gradient(135deg, #B0E0E6, #ADD8E6); /* Fondo con degradado de celeste más suave */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Asegurar que el cuerpo tenga fondo transparente para que se vea el degradado del HTML */
    background: transparent;
}



/* Utilizar la fuente Segoe UI Black y ajustar la animación */
.display-4 {
    font-family: 'Tahoma', sans-serif; /* Usar la fuente Segoe UI Black */
    font-size: 4em; /* Tamaño de fuente grande */
    font-weight: bold; /* Hacer el texto en negrita */
    color: black; /* Cambiar el color del texto a negro */
}

/* Animación más lenta */
@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar animación al texto con duración más larga */
.animated-text {
    animation: slideFromTop 2s ease-in-out; /* Animación más lenta (2 segundos) */
}


/*AGREGAR FOTOS EN PAGINA PRINCIPAL*/
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Tres columnas fijas */
    gap: 20px;
    justify-content: center; /* Alinea el grid al centro horizontal */
    max-width: 800px; /* Ancho máximo del grid */
    margin: 0 auto; /* Centra el grid en la página */
}

.image-grid__item {
    position: relative;
    max-width: 200px; /* Reducción de tamaño */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre las filas */
}

    .image-grid__item img {
        width: 100%;
        height: auto;
        max-width: 100%; /* Ajuste del tamaño de las imágenes */
        display: block;
    }

.image-grid__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    text-align: left;
}

.image-grid__item:hover .image-grid__info {
    opacity: 1;
}

/*AGREGAR ESPACIO */
.adoption-text {
    margin-bottom: 20px; /* Agregar espacio en la parte inferior del adoption text */
}
.image-grid {
    margin-top: 80px; /* Agregar espacio en la parte superior del grid de imágenes */
}



/*INTRODUCCION*/
.animated-italic-text p {
    font-style: italic; /* Estilo en cursiva */
    font-size: 3em; /* Tamaño de letra más grande */
    opacity: 0;
    animation: slideFromRight 1.5s ease-in-out forwards;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*INDE PRINCIPAL DE REGISTRO DE PERSONAS*/
/* Espacio entre los botones */
td a {
    margin-right: 6px; /* Margen derecho entre los botones */
}